.health-detection .content .child-comp.box {
    border-right: 1px solid #e2e9ef;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
  }
.health-detection .content .child-comp.box::before {
    content: "";
    width: 1px;
    height: 38px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: -1px;
  }
.health-detection .content .child-comp.box::after {
    content: "";
    width: 1px;
    height: 38px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: -1px;
  }

.health-detection .content .child-comp.box .inner-box{
  width: 222px;
  position: relative;
}

.health-detection .content .child-comp.box .inner-box h3 {
    position: absolute;
    font-weight: 300;
    top: 146px;
    left: 0;
    width: 100%;
    text-align: center;
  
    font-family: "PingFangSC-Regular";
    font-size: 14px;
    color: #34495e;
    line-height: 16px;
  }
.health-detection .content .child-comp.box .inner-box ul {
   position: absolute;
   top: 174px;
   left: 0;
   width: 100%;
}
.health-detection .content .child-comp.box .inner-box ul li {
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #34495E;
    line-height: 12px;
    margin-bottom: 4px;
}
.health-detection .content .child-comp.box .inner-box ul li div{
    font-size: 12px;
  }
.health-detection .content .child-comp.box .inner-box ul li .count {
    font-family: "PingFangSC-Regular";
    font-size: 14px;
    color: #0c9aff;
    line-height: 12px;
  }
.health-detection .content .child-comp.box .inner-box ul li .count a {
    color: #0c9aff;
  }
.health-detection .content .child-comp.box .inner-box ul li .count a:hover{
    color: #108EE9;
    text-decoration: underline;
  }

